<!DOCTYPE html>
<html>
  <head>
    <title>Display images</title>
  </head>
  <body>
    <div class="content">
      <form name="response" action="/result/" method='post'>
        <div>
          <h3>Here are media files inside the S3 bucket:</h3>
          <tr>
            {% for item in contents %}
              <td>
                <img src={{ item }} style="width: 250px">
                
                  <select name = "choice">
                    <option value="oui">Oui</option>
                    <option value="non">Non</option>
                  </select>
                
              </td>
            {% endfor %}
            </tr>
        </div>
      <div>
        <button name="valid" type="submit">valid</button>
      </div>
    </form>
    <div class="content">
      <h1>Upload your files to the AWS S3 Bucket</h1>
      <div>
        <h3>Upload your file here:</h3>
        <form method="POST" action="/upload" enctype="multipart/form-data">
          <input type="file" name="file">
          <input type="submit" value="Upload">
        </form>
      </div>
    </div>
    </div>
  </body>
</html>
