<!DOCTYPE html>
<html>
  <head>
    <title>Display images</title>
  </head>
  <body>
    <div class="content">
        <div>
          <h3>Here are media files inside the S3 bucket:</h3>
          <tr>
            {% for item in contents %}
              <td>
                <img src={{ item }} style="width: 250px">
                <select>
                  <option value="oui">Oui</option>
                  <option value="non">Non</option>
                </select>
              </td>
            {% endfor %}
            </tr>
        </div>
    </div>
  </body>
</html>
