<!doctype html>

<html lang="en">
<head>
  <title>Hot Dog</title>
</head>

<body>
    <table>
        <thead>
            <tr>
                <th colspan="4">The table header</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>The table body</td>
                <td>with two columns</td>
                <td>with two columns</td>
                <td>with two columns</td>
            </tr>
            <tr>
                <td>
                    <select>
                         <option value="oui">Oui</option>
                         <option value="non">Non</option>
                    </select>
                </td>
                <td>
                    <select>
                         <option value="oui">Oui</option>
                         <option value="non">Non</option>
                    </select>
                </td>
                <td>
                    <select>
                         <option value="oui">Oui</option>
                         <option value="non">Non</option>
                    </select>
                </td>
                <td>
                    <select>
                         <option value="oui">Oui</option>
                         <option value="non">Non</option>
                    </select>
                </td>
            </tr>
        </tbody>
    </table>
    
</body>
</html>